.bg-blue{
  height: 100vh;
  width: 100vw;
  background-color: #f5f6fa;
}
.btn-color{
  background-color: #575fcf; 
  font-size: 14px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-color:hover{
  background-color: #3c40c6;
  color: #fff;
}
input{
  outline: none;
}
.btn-set:hover, .btn.active{
  background-color: #3c40c6;
  color: #fff;
}
td{
  padding: 10px;
}